.p1{
    /* DIBERIKAN 3 JENIS FONT DIKARENAKAN , JIKA ARIEL TIDAK TERSEDIA MAKA DIGANTI DENGAN HELVETICA DST */
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    font-size: 24px;
}
.p3{
    font-weight: bold;
}
.p4{
    font-style: italic;
}
body{
    /* KESELURUHAN ISI TEKS */
}