.img1{
    float: left;
    border: 1px solid black;
    margin-right: 10px;
}
.img2{
    float: left;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}
.img3{
    float: left;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}
.img4{
    float: left;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}
p{
    font-size: 24px;
}
.clear{
    /* membatasi float */
    clear: left;
}